<configuration>
    <configSections>
        <section name="Security" type="System.Configuration.NameValueSectionHandler" />
        <section name="URLs" type="System.Configuration.NameValueSectionHandler" />
        <section name="ShippingInfo" type="System.Configuration.NameValueSectionHandler" />
    </configSections>

    <Security>
        <add key="Username" value="standard_user" />
        <add key="Password" value="secret_sauce" />
        <add key="Cookie" value="session-username" />
    </Security>

    <URLs>
        <add key="BaseURL" value="https://www.saucedemo.com/" />
        <add key="ProductsURL" Value="inventory.html" />
        <add key="ProductURL" Value="inventory-item.html?id=" />
        <add key="CartURL" Value="cart.html" />
        <add key="Checkout1URL" Value="checkout-step-one.html" />
        <add key="Checkout2URL" Value="checkout-step-two.html" />
        <add key="CheckoutFinalURL" Value="checkout-complete.html" />
    </URLs>

    <ShippingInfo>
        <add key="FirstName" value="John"/>
        <add key="LastName" value="Maverick"/>
        <add key="PostalCode" value="115532" />
    </ShippingInfo>

</configuration>