<configuration>
    <configSections>
        <section name="Security"
            type="SauceLabsAutomation.TestConfiguration.Security, SauceLabsAutomation" />
        <!-- <section name="Security"
            type="System.Configuration.NameValueSectionHandler" /> -->
        <section name="URLs" type="System.Configuration.NameValueSectionHandler" />
        <section name="ShippingAddresses" type="System.Configuration.NameValueSectionHandler" />
    </configSections>

    <Security>
        <Credential
            name="Standard"
            username="standard_user"
            password="secret_sauce"
            cookie="session-username" />
    </Security>

    <URLs>
        <URL
            name="TestServer"
            baseURL="https://www.saucedemo.com/"
            products="inventory.html"
            product="inventory-item.html?id="
            cart="cart.html"
            checkout1="checkout-step-one.html"
            checkout2="checkout-step-two.html"
            checkoutFinal="checkout-complete.html" />
    </URLs>

    <ShippingAddresses>
        <ShippingAddress
            name="MainAddress"
            firstName="John"
            lastName="Maverick"
            postalCode="115532" />
    </ShippingAddresses>

</configuration>